@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --dark-light-elements-text:hsl(0, 0%, 100%);

  --homepage-size: 14px;
  --details-page: 16px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

.size-zero{
  font-size: 0;
  line-height: 0;
}

.search {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.search::before {
  font: var(--fa-font-solid);
  font-weight:600;
  content: "\f002";
  position: absolute;
  top:16px;
  left: 20px;
  width: 2em;
}